version: "3.9"

services:
  backend:
    build: ./infra/docker
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: careplus
      POSTGRES_USER: careplus_user
      POSTGRES_PASSWORD: careplus_pass
    ports:
      - "5432:5432"
